
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   
   background-color:#1e272e; 
   overflow: hidden;
  
}
.container{
    max-width: 500px;
    padding: 0 20px;
    margin: 170px auto;

}
.main{
   width: 100%;
   height: 370px;
   border-radius: 10px;
   border: 1.5px solid #57606f;
}
.main .title{
    
    color: #fff;
    height: 65px;
    border-bottom: 1.5px solid #57606f;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
    
   

}
.main form{
  padding: 0 15px 0 15px ;
}
.main form .inputbox{

    height: 45px;
  
    margin-bottom: 17px;
    position: relative;
    
}
.main form .inputbox input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #2c3e50;
    padding-left: 60px;
    border-radius: 10px;
    border: 1.5px solid #57606f;
    
}

.main form .inputbox i{
    position: absolute;
    width: 47px;
    height: 100%;
    border: 1.5px solid #57606f;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#353b48;
    
}


.material-symbols-outlined {
    color: white;
    position: relative;
}
.main form .button input{
    color: #fff;
    padding-left: 0px;
    background: #0652DD;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.main form .text input{
    color: white;
    font-size: 17px;
}
.main form .subscribe-link a{
    color:#70a1ff;
    font-size: 19px;

}
.main form .subscribe-link{
    text-align: center;
    margin-top: 25px;
}
.errors {
    color: red;
    font-weight: 300;
    font-size: 18px;
   }
.errors li{
   list-style-type: none; 
}

