body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #202325;
  color: white;
}

.err-page {
  margin-top: 13%;
  margin-left: 10%;
  font-size: 20px;
}

/*login et signup*/
.container_login_signup {
  max-width: 500px;
  padding: 0 20px;
  margin: 170px auto;
}


.main_login_signup {
  width: 100%;
  height: 370px;
  border-radius: 10px;
  border: 1.5px solid #48505f;
}

.signup {
  height: 470px;

}

.main_login_signup .title {

  color: #fff;
  height: 60px;
  border-bottom: 1.5px solid #48505f;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 20px;
}

.main_login_signup form {
  padding: 0 15px 0 15px;
}

.main_login_signup form .inputbox {
  height: 45px;
  margin-bottom: 17px;
  position: relative;
}

.main_login_signup form .inputbox input {
  outline: none;
  background: #2d3442;
  padding-left: 20px;
  color: white;
  font-size: 17px;
  height: 100%;


}

.text {
  background: #2f323a;
  border-radius: 7px;
  border: 1.5px solid #48505f;
}

.text input {
  margin-left: 15%;
  width: 85%;
  border-radius: 0 5px 5px 0;
  border: 1px solid #48505f;
}

input:focus {
  border: 1.5px solid rgb(142, 180, 204);
  box-shadow: 0 0 8px 2px rgb(48, 109, 208, 1);
  border-radius: 0 7px 0 7px 0;

}

.main_login_signup form .inputbox i {
  position: absolute;
  width: 14%;
  height: 100%;
  border-radius: 7px 0 0 7px;
  display: flex;
  border-left: none;
  align-items: center;
  justify-content: center;
  background: #2f323a;
}

.material-symbols-outlined {
  color: white;
  position: relative;
}

.main_login_signup form .button input {
  padding-left: 0px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  border-radius: 7px;
  transition: all 0.3s ease;
}

.main_login_signup form .text input {
  color: white;
  font-size: 17px;
}

.main_login_signup form .subscribe-link a {
  width: 100%;
  border-radius: 7px;
}

.main_login_signup form .subscribe-link a {
  color: #70a1ff;
  font-size: 19px;
}

.main_login_signup form .subscribe-link {
  text-align: center;
  margin-top: 25px;
}

.errors {
  color: red;
  font-weight: 300;
  font-size: 15px;
}

.errors li {
  list-style-type: none;
}

.main_login_signup form .cancel input {
  background-color: #202325;
  /*#23252a;/*#1e272e;*/
  border: 1px solid red;
  color: red;
  font-size: 18px;
  font-weight: 300;

}

.main_login_signup form .login input {
  background-color: #0652DD;
  border: none;
  color: #fff;
}


/* My archives + view-shared-note*/

.page-title {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.page-subtitle {
  color: white;
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  top: 70px;
  left: 10px;
}

.my-archives {

  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  position: absolute;
  top: 85px;
  left: 5px;
  margin-left: 0;
}


.note-archivee {
  border: 1.5px solid #43464c;
  color: white;
  border-radius: 5px;
  width: 210px;
  background: #202325;
  margin: 3px;
  height: 210px;
}

.link-note-archivee,
.shared-note-link {
  text-decoration: none;
  color: inherit;
}

.note-title {
  font-size: 17px;
  border-bottom: 1.5px solid #43464c;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 3px 10px;
  background: #292c30;
  margin-bottom: 1px;
}


.content_text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;

}

.check_item {
  display: block;
  max-height: 5em;
  line-height: 1.7em;
  overflow: hidden;
}

/* .content_check::after {
  content: '...';
  position: relative;
} */

.checked_item,
.unchecked_item {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unchecked_item::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  border: 1.5px solid rgb(75, 75, 73);
  background: rgb(50, 50, 48);
  border-radius: 3px;

}

.checked_item::before {
  content: '✓';
  text-align: center;
  line-height: 14px;
  font-weight: 1000;
  font-size: 15px;
  color: rgb(50, 50, 48);
  ;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: rgb(115, 115, 108);
  border-radius: 3px;
}



/* view notes */
.title-empty {
  color: white;
  font-style: italic;
}


.view_notes_pinned_unpinned {

  display: flex;
  flex-wrap: wrap;
  top: 3px;
  position: relative;
  left: 2%;
  min-height: 100px;
  /* Définissez la hauteur minimale selon vos besoins */
}

.view_notes_header {
  height: 50px;
}

.title_note_pinned,
.title_note_unpinned {
  color: white;
  margin-left: 3%;
  margin-bottom: 0;


}

.card-footer {
  border: 1.5px solid #43464c;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #292c30;
  padding: 2px;
  height: 30px;
}

.card-footer input {
  background-color: unset;
  border: unset;
  color: rgb(30, 115, 213);
}

.note-content {
  padding: 5px;
  margin-bottom: 3em;
  font-weight: 350;
  font-size: 15px;
}

.note {

  border: 1.5px solid #43464c;
  color: white;
  border-radius: 5px;
  width: 210px;
  background: #202325;
  margin: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 220px;
  /* Hauteur maximale fixe pour la note */
}

/* view shares note*/

.share-empty {
  font-style: italic;
}

.box-shares {
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

.form-control-share {
  background-color: transparent;
  border: 1.6px solid #494c51;
  padding: 6px;
  border-radius: 5px;
  color: lightgray;
  width: 75%;
}

.form-box-share {
  width: 90%;
}

.form-control-share option {
  color: lightgray;
  background-color: #202325;
}

.box-sharer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.btn-share {
  padding: 3px;
}

.btn-toggle {
  border-radius: 0%;
}

.btn-del {
  border-radius: 0 5px 5px 0;
}

.form-share {
  border-radius: 5px 0 0 5px;
}

#role {
  font-style: italic;
}

/*  menu burger */

.menu {
  position: fixed;
  height: 100%;
  top: 0;
  visibility: hidden;
  z-index: 2;


}

#hamburger {
  display: none;
}

#hamburger-logo {
  cursor: pointer;
  background-color: #202325;
  /*#252729;*/
  width: 200px;
  display: block;
  color: darkgrey;
  text-align: right;
  transform: translateX(-120px);
  padding: 10px;
}

#hamburger-logo::before {
  content: '☰';
  border: 0.5px solid darkgray;
  padding: 3px 12px 5px 12px;
  border-radius: 5px;
  font-size: 23px;
  line-height: 1;
  display: inline-block;
  visibility: visible;
  margin-right: 15px;

}

#hamburger:checked~#hamburger-logo::before {
  content: '✕';
  border: none;
  margin-right: 0;
}

#hamburger:checked~#hamburger-logo {
  background-color: #292c30;
}

#burger-title {
  color: #f39c12;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  background: #292c30;
  overflow: hidden;
  width: 200px;
  height: 100%;
  transform: translateX(-200px);
}

nav a:hover {
  background-color: #43464c;

}

#hamburger-logo,
nav {
  transition: 0.2s;
}

#hamburger:checked~#hamburger-logo,
#hamburger:checked~nav {
  transform: translate(0);
  visibility: visible;

}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.active {
  color: white;

}

.not_active {
  color: gray;
}

#hamburger:checked~.menu-overlay {
  display: block;
  visibility: visible;

}

.menu-overlay {

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;


}

/* View_shared_by*/
.shared_reader,
.shared_editor {
  display: flex;
  flex-wrap: wrap;
}

.shared_title {
  color: white;
  margin: 5px;
}

.shared_by {
  margin: 5px;
  position: absolute;
  top: 70px;
  left: 5px;
  margin-left: 0;

}

/* settings */

.menu_settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centrer verticalement */
  align-items: center;
  /* Centrer horizontalement */
  margin-top: 150px;
  /* Ajouter de la marge autour du menu et le centrer horizontalement */
}

.menu_settings a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.menu_settings i {
  margin-right: 10px;
}

.menu_settings a {
  color: white;
  display: block;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  margin: 2em;
}

/* edit_profile */

.edit_form {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* Centrer horizontalement */
  color: white;
  margin: 25% auto;
}

.form-label {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

/* logout */

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centrer horizontalement */
  color: white;
  margin-top: 50px;
}

.logout button {
  margin: 10px;
}

/*partie commune entre checklist_note et text_note dans open_note :
/*barre open note*/
.barre {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  position: absolute;
  left: 3%;
  width: 94%;
  top: 30px;
}

.back {
  margin: auto;
  margin-left: 5px;
}

#deleteForm {
  margin: unset;
  display: unset;
}

#delete_icon {
  position: absolute;
  right: 40px;
  background-color: transparent;
  border: none;
}

#delete_icon span {
  color: red;

}

/* Partie title et dates */
.dates {
  position: relative;
  top: 60px;
  left: 3%;
  font-style: italic;
  color: lightgray;
  font-weight: 350;
}

.title_note {
  position: absolute;
  top: 125px;
  left: 3%;
  color: lightgray;
  width: 94%;
  padding: 7px 7px 7px 10px;
  border: 1.7px solid #494c51;
  /*#53575e;*/
  background-color: #383c44;
  border-radius: 7px;


}

.title_note_title {
  color: white;
  position: absolute;
  top: 100px;
  left: 3.5%;
  font-size: 18px;

}

.note_body_title {
  position: absolute;
  top: 205px;
  left: 3.5%;
  color: white;
  font-size: 18px;
}

/*open_text_note*/

.note_body_text {
  color: lightgray;
  position: absolute;
  top: 230px;
  left: 3%;
  padding: 15px;
  width: 94%;
  border-radius: 7PX;
  border: 1.7px solid #53575e;
  background-color: #383c44;
  overflow-y: auto;
  max-height: 500px;

}

.is-invalid {
  border: 2px solid red !important;
}

.is-valid {
  border: 2px solid rgb(27, 197, 27) !important;
}

input:focus,
textarea:focus {
  outline: none;
  /* Supprime l'outline par défaut */
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  /* Ajoute une légère box-shadow pour un effet de focus */
}

/*open_checklist_note*/

.note_body_checklist {
  color: lightgray;
  position: absolute;
  top: 230px;
  left: 3%;
  width: 94%;

}

.check_submit {
  background: #0962ea;
  border-radius: 5px 0 0 5px;
  border: 1.7px solid #0962ea;
  position: absolute;
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

.check_label,
.uncheck_label {
  border-radius: 0 7px 7px 0;
  border: 1.6px solid #494c51;
  border-left: none;
  background-color: #383c44;
  padding: 7px;
  margin-left: 14%;
  width: 86%;
}

.check_form {
  margin-bottom: 10px;
  position: relative;

}

.check_label {
  text-decoration: line-through;
}

.material-symbols-rounded {
  color: white;
}


/* erreurs */

#alertPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centrer horizontalement */
  margin: auto;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  #alertPassword {
    font-size: 3vw;
  }
}

@media screen and (min-width: 601px) {
  #alertPassword {
    font-size: 18px;
    /* Taille fixe pour les écrans plus grands */
  }
}

/* text note settings */

.back-icon {
  position: absolute;
  top: 2%;
  left: 2%;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/*partie commune entre edit_checklist_note et edit_text_note  :
*/
.edit {
  position: absolute;
  left: 3%;
  width: 94%;
  top: 30px;
}
.container_edit {
  margin: 22% auto;
  width: 90%;
}

/* style edit et add text_note le plus récent */

/******début*****/

.edit_text_note_form {
  margin: 10%;
}

.edit_text_note_date {
  margin: 5%;
}

#content {
  resize: vertical;
  /* Permet à l'utilisateur de redimensionner verticalement */
  min-height: 200px;
  /* Taille minimale du textarea */
}

/* Media query pour les écrans de petite taille */
@media (max-width: 768px) {
  #content {
    min-height: 300px;
    /* Taille minimale réduite pour les écrans plus petits */
  }
}

.text_note_form_items {
  margin: 5%;
}

/* *****fin**** */



.note_body_edit {

  color: white;
  font-size: 18px;
}

.note_body_checklist_edit {
  color : lightgray;
}


.save {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}

.title_edit_note {
  color: lightgray;
  background-color: transparent;
  width: 94%;
  padding: 7px 7px 7px 10px;
  border: 1.7px solid #494c51;
  border-radius: 7px;
}

.erreur_edit {
  color: red;
}

.edit_checklist_form {
  margin-bottom: 10px;
  position: relative;
  align-items: stretch;

}

.edit_check_div {
  border-radius: 5px 0 0 5px;
  border: 1.7px solid #494c51;
  position: absolute;
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #2f323a;
}

.icone-delete {
  background-color: red;
  width: 10%;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 14%;
  height: 100%;
  padding: 7px;
  margin-left: -4%;
}

.icone-add {
  background-color: blue;
  width: 10%;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 14%;
  height: 100%;
  padding: 7px;
  margin-left: -4%;
}


.form-control-edit {
  border: 1.6px solid #494c51;
  padding: 6px;
  width: 85%;
  background-color: transparent;
  border-radius: 5px;
  color: lightgray;
  border-right: none;
}

.check_square {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 10px;
  border: 1.5px solid rgb(75, 75, 73);
  background-color: #262829;
  border-radius: 3px;
}

.checklist_elements {
  border: 1.6px solid #494c51;
  border-radius: 0 5px 5px 0;
  border-left: none;
  padding: 7px;
  margin-left: 14%;
  width: 70%;
  background-color: unset;
  color: lightgray;
}

.input_add {
  background-color: transparent;

}

.adapt_height {

  height: 500px;
}

.pointer {
  cursor: pointer;
}

/* add checklist note */
.add_checklist {
  margin: 20% auto;
  width: 90%;
}

.item_add {
  margin: 5% 0;
  background: transparent;
  color: lightgrey;

}

.add_header {
  position: absolute;
  left: 3%;
  width: 94%;
  top: 40px;
}

.item_add:focus {
  background-color: transparent;
  color: lightgrey;
}

.title_add {
  background: transparent;
  color: lightgrey;

}

.title_add:focus {

  background-color: transparent;

  color: lightgrey;


}



/* Modal */

.modal-content {
  background-color: #313538;
}


/* Note label*/
.box-label-note {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  bottom: 20%;
  width: 80%;
  left: 2%;
}

.form-control-label {
  background-color: transparent;
  border: 1.6px solid #494c51;
  padding: 7px;
  border-radius: 5px;
  color: lightgray;
  width: 90%;
}

.label-note {
  margin: 1px;
}

/* Cache l'input checkbox natif */
.radio-label input[type="checkbox"] {
  display: none;
}

/* Style de la span représentant la checkbox */
.custom-checkbox-label {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

/* Style de la checkbox quand elle est cochée */
.radio-label input[type="checkbox"]:checked + .custom-checkbox-label {
  background-color: #007bff;
  border-color: #007bff;
}

/* Style du "check" quand la checkbox est cochée */
.custom-checkbox-label::after {
  content: '';
  position: absolute;
  display: none;
}

.radio-label input[type="checkbox"]:checked + .custom-checkbox-label::after {
  display: block;
}

.custom-checkbox-label::after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Style du label de la checkbox */
.radio-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin: 0 8px;
}


.label-empty {
  font-style: italic;
}

.box-labels {
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}


/* Page recherche*/
.box-search {
  margin: 2% auto 0 auto;
  width: 90%;
}
.result-note {
  margin: 4% auto 0 auto;
}

.view-notes_search {
  display: flex;
  flex-wrap: wrap;
  top: 3px;
  position: relative;
  left: 2%;
  min-height: 100px;

}

